DominoGameProject/Domino_Version_Infarto_BACKUP/DominoCliente/Service References/DominoServiceReference/DominoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1707/DominoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DominoService" />
  <xs:import schemaLocation="http://localhost:1707/DominoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RequestSitPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPutPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DominoService" minOccurs="0" name="data" nillable="true" type="q1:PieceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasoElTurno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ColocaBot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valors" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="posicion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMarcadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Marcadores" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElTurnoEsDe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="posicionJugadorConTurno" type="xs:int" />
        <xs:element minOccurs="0" name="puedePoner" type="xs:boolean" />
        <xs:element minOccurs="0" name="puedo1" type="xs:int" />
        <xs:element minOccurs="0" name="puedo2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPlayerJoined">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DominoService" minOccurs="0" name="jugador" nillable="true" type="q4:PlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerNotSat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DominoService" minOccurs="0" name="pieza" nillable="true" type="q5:PieceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LimpiarCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PutPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DominoService" minOccurs="0" name="pieza" nillable="true" type="q6:PieceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPieceOnTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DominoService" minOccurs="0" name="data" nillable="true" type="q7:PieceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Marcadores" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>