DominoGameProject/Domino-Refactoring/DominoCliente/Service References/DominoServiceReference/DominoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DominoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DominoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PieceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PiecePosition" type="xs:int" />
      <xs:element minOccurs="0" name="PieceValue" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerPosition" type="xs:int" />
      <xs:element minOccurs="0" name="PosX" type="xs:int" />
      <xs:element minOccurs="0" name="PosY" type="xs:int" />
      <xs:element minOccurs="0" name="PrevPieceValue" type="xs:int" />
      <xs:element minOccurs="0" name="Rotacion" type="xs:int" />
      <xs:element minOccurs="0" name="StartPieceInt" type="xs:int" />
      <xs:element minOccurs="0" name="Ubicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PieceData" nillable="true" type="tns:PieceData" />
  <xs:complexType name="PlayerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerPosition" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerData" nillable="true" type="tns:PlayerData" />
</xs:schema>