DominoGameProject/Domino_Version_Infarto/DominoCliente/Service References/DominoServiceReference/DominoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DominoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DominoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PieceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="index" type="xs:int" />
      <xs:element minOccurs="0" name="jugador" type="xs:int" />
      <xs:element minOccurs="0" name="posicionEnMano" type="xs:int" />
      <xs:element minOccurs="0" name="selector" type="xs:int" />
      <xs:element minOccurs="0" name="valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PieceData" nillable="true" type="tns:PieceData" />
  <xs:complexType name="PlayerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="posicion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerData" nillable="true" type="tns:PlayerData" />
</xs:schema>